name: Dependency updates

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest
    env:
      JAVA_VERSION: '17'

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3
    - name: Set up JDK
      uses: actions/setup-java@v3
      with:
        java-version: $JAVA_VERSION
        distribution: 'adopt'
        cache: gradle
    - name: Update dependencies
      run: ./gradlew versionCatalogUpdate
    - name: Create license report
      run: ./gradlew generateLicenseReport
    - name: Remove date from HTML report # workaround for removing timestamp so that no unneeded PRs are created
      run: sed -i '/<p id="timestamp">/,+5d' docs/licenses/index.html
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v5
      with:
        branch: feature/update_dependencies
        title: Update of dependencies
        commit-message: Update of dependencies
