name: Dependency updates

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest
    env:
      JAVA_VERSION: '17'

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3
    - name: Set up JDK
      uses: actions/setup-java@v3
      with:
        java-version: ${{ env.JAVA_VERSION }}
        distribution: 'temurin'
        cache: 'gradle'
    - name: Update dependencies
      run: ./gradlew versionCatalogUpdate
    - name: Create license report
      run: |
        ./gradlew generateLicenseReport
        sed -i '/<p id="timestamp">/,/<\/p>/d' docs/licenses/index.html
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v5
      with:
        branch: feature/update_dependencies
        title: Update of dependencies
        commit-message: Update of dependencies
        add-paths: |
          docs/licenses/*
          gradle/libs.versions.toml
