name: Create Release Build

on:
  workflow_dispatch:
    inputs:
      upload_to_google:
        description: "Upload to Google Play"
        required: true
        type: boolean
        default: true
      upload_to_huawei:
        description: "Upload to Huawei AppGallery"
        required: true
        type: boolean
        default: true
      upload_to_amazon:
        description: "Upload to Amazon Appstore"
        required: true
        type: boolean
        default: true
jobs:
  build:

    runs-on: ubuntu-latest

    env:
      JAVA_VERSION: '17'
      RUBY_VERSION: '3.2.2'
      CREDENTIALS_DIR: 'credentials'
      AAB_DIR: 'app/build/outputs/bundle/release'
      APK_DIR: 'app/build/outputs/apk/release'

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Set up JDK
      uses: actions/setup-java@v3
      with:
        java-version: ${{ env.JAVA_VERSION }}
        distribution: 'adopt'
        cache: gradle

    - name: Run Detekt
      run: ./gradlew detekt
    - name: Run Lint
      run: ./gradlew lintRelease
    - name: Run unit tests
      run: ./gradlew testReleaseUnitTest
      
    - name: Build App Bundle and APK
      run: |
        mkdir ${{ env.CREDENTIALS_DIR }} || true
        echo "$RELEASE_KEYSTORE_PROPERTIES" > ${{ env.CREDENTIALS_DIR }}/keystore.properties
        echo "$RELEASE_KEYSTORE" > ${{ env.CREDENTIALS_DIR }}/keystore.jks.txt
        base64 -d ${{ env.CREDENTIALS_DIR }}/keystore.jks.txt > ${{ env.CREDENTIALS_DIR }}/keystore.jks
        ./gradlew bundleRelease assembleRelease
      env:
        RELEASE_KEYSTORE_PROPERTIES: ${{ secrets.RELEASE_KEYSTORE_PROPERTIES }}
        RELEASE_KEYSTORE: ${{ secrets.RELEASE_KEYSTORE }}

    - name: Extract version code and version name
      run: |
        echo "VERSION_NAME="$(grep -m 1 "versionName" app/build.gradle.kts | awk '{print $3}' | sed 's/"//g') >> $GITHUB_ENV
        echo "VERSION_CODE="$(grep "versionCode" app/build.gradle.kts | awk '{print $3}') >> $GITHUB_ENV

    - name: Create tag and release on GitHub if not already done
      uses: ncipollo/release-action@v1
      with:
        tag: ${{ env.VERSION_CODE }}
        name: ${{ env.VERSION_NAME }}
        bodyFile: fastlane/metadata/android/en-US/changelogs/${{ env.VERSION_CODE }}.txt
        artifacts: ${{ env.APK_DIR }}/app-release.apk
        makeLatest: true
        skipIfReleaseExists: true
        artifactErrorsFailBuild: true

    - name: Setup Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ env.RUBY_VERSION }}

    - name: Setup Fastlane
      run: bundle install

    - name: Upload app to Google Play
      if: ${{ github.event.inputs.upload_to_google }}
      run: |
        mkdir ${{ env.CREDENTIALS_DIR }} || true
        echo "$PLAY_STORE_CREDENTIALS" > ${{ env.CREDENTIALS_DIR }}/playstore_access.json.txt
        base64 -d ${{ env.CREDENTIALS_DIR }}/playstore_access.json.txt > ${{ env.CREDENTIALS_DIR }}/playstore_access.json
        bundle exec fastlane google
      env:
        PLAY_STORE_CREDENTIALS: ${{ secrets.PLAY_STORE_CREDENTIALS }}

    - name: Upload app to Huawei AppGallery
      if: ${{ github.event.inputs.upload_to_huawei }}
      run: bundle exec fastlane huawei
      env:
        HUAWEI_CLIENT_ID: ${{ secrets.HUAWEI_CLIENT_ID }}
        HUAWEI_CLIENT_SECRET: ${{ secrets.HUAWEI_CLIENT_SECRET }}

    - name: Upload app to Amazon Appstore
      if: ${{ github.event.inputs.upload_to_amazon }}
      run: bundle exec fastlane amazon
      env:
        AMAZON_CLIENT_ID: ${{ secrets.AMAZON_CLIENT_ID }}
        AMAZON_CLIENT_SECRET: ${{ secrets.AMAZON_CLIENT_SECRET }}

    - name: Remove any credentials
      if: always()
      run: rm -rd ${{ env.CREDENTIALS_DIR }} || true

    - name: Upload test reports
      uses: actions/upload-artifact@v3
      if: always()
      with:
        name: test_reports
        path: |
          app/build/reports/detekt/detekt.html
          app/build/reports/lint-results-release.html
          app/build/reports/tests/testReleaseUnitTest/
