name: Create Release Build

on:
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3
    
    - name: Set up signing info
      run: |
        echo "$RELEASE_KEYSTORE_PROPERTIES" > keystore.properties
        echo "$RELEASE_KEYSTORE" > keystore.jks.txt
        base64 -d keystore.jks.txt > keystore.jks
        rm keystore.jks.txt
      env:
        RELEASE_KEYSTORE_PROPERTIES: ${{ secrets.RELEASE_KEYSTORE_PROPERTIES }}
        RELEASE_KEYSTORE: ${{ secrets.RELEASE_KEYSTORE }}

    - name: Set up JDK
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'adopt'
        cache: gradle

    - name: Grant execute permission for Gradle
      run: chmod +x gradlew

    - name: Run Detekt
      run: ./gradlew detekt
    - name: Run Lint
      run: ./gradlew lintRelease
    - name: Run unit tests
      run: ./gradlew testReleaseUnitTest
      
    - name: Build app bundle with Gradle
      run: ./gradlew bundleRelease
          
    - name: Set up play store access
      run: |
        echo "$PLAY_STORE_CREDENTIALS" > playstore_access.json.txt
        base64 -d playstore_access.json.txt > playstore_access.json
        rm playstore_access.json.txt
      env:
        PLAY_STORE_CREDENTIALS: ${{ secrets.PLAY_STORE_CREDENTIALS }}

    - name: Setup Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.2.2'

    - name: Setup Fastlane
      run: bundle install
      
    - name: Publish metadata and AAB to Play Store Internal
      run: bundle exec fastlane supply --aab app/build/outputs/bundle/release/app-release.aab --track internal
      
    - name: Build APK
      run: ./gradlew assembleRelease
      
    - name: Extract version code and version name
      run: |
        echo "VERSION_NAME="$(grep "versionName" app/build.gradle.kts | awk '{print $3}' | sed 's/"//g') >> $GITHUB_ENV
        echo "VERSION_CODE="$(grep "versionCode" app/build.gradle.kts | awk '{print $3}') >> $GITHUB_ENV
        
    - name: Create tag and release on GitHub
      uses: softprops/action-gh-release@v1
      with:
        tag_name: ${{ env.VERSION_CODE }}
        name: ${{ env.VERSION_NAME }}
        body_path: fastlane/metadata/android/en-US/changelogs/${{ env.VERSION_CODE }}.txt
        files: app/build/outputs/apk/release/app-release.apk
